/* Text */
$color__text--regular: #444444;
$color__text--strong: #3e3e3e;
$color__primary--dark: #282828;

/* Buttons */
$color__button--primary: #1f74ac;
$color__button--secondary: #217dbb;

/* Box Shadow */
$shadow__box-shadow--black: 0 .4rem .4rem -0.2rem rgba(0,0,0, .2);
$shadow__box-shadow--alternative: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.15);