$color__text--regular: #888;
$color__text--strong: #3e3e3e;
$color__primary--dark: #282828;

$color__button--primary: #1f74ac;
$color__button--secondary: #217dbb;

$shadow__box-shadow--black: 0 .3rem 0.25rem 0 rgba(0,0,0, .1);