/* Header */
.header {
	height: 64rem;
    background: white;  
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: $shadow__box-shadow--black;
    &__img {
        border-radius: 100%;
        height: 30rem;
        align-self: center;
        margin-left: 17rem;
    }
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-left: 5rem;
    &__title {
        color: black;
        font-size: 5.6rem;
        font-weight: 300;
        margin-bottom: 4rem;
    }
    &__subtitle {
        font-size: 2.6rem;
        line-height: 4rem;
        margin-bottom: 6rem;
    }
}
