.btn {
    &:visited,
    &:link {
    color: white;
    background-color: $color__button--primary;
    padding: 2rem 4rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    }
    &:hover {
        background-color: $color__button--secondary;
    }
}