/*
	TornadoViral by Marvin Marinas
	tornadoviral.com | @tornadoviral
*/
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
/* Text */
/* Buttons */
/* Box Shadow */
/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  background-image: url(/images/background.png); }

body {
  line-height: 1;
  color: #444444;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

b, strong, h2, h3 {
  font-weight: 700;
  color: #3e3e3e; }

a {
  text-decoration: none; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 2.2rem; }

p {
  font-size: 1.8rem;
  line-height: 3rem; }

.btn:visited, .btn:link {
  color: white;
  background-color: #1f74ac;
  padding: 2rem 4rem;
  width: 100%;
  border-radius: 1rem;
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center; }

.btn:hover {
  background-color: #217dbb; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 135rem;
  background: #2F2F2F;
  text-align: center;
  padding: 14rem; }
  .footer__title strong, .footer__excerpt {
    color: white; }
  .footer__title, .footer__excerpt {
    margin-bottom: 2.6rem; }
  .footer__form {
    display: flex;
    flex-direction: column; }
    .footer__form--name, .footer__form--email, .footer__form--subject, .footer__form--message {
      padding: 0 1.3rem 0 1.3rem;
      border-radius: 0.8rem;
      background-color: #282828;
      border: none;
      color: #bbb;
      font-size: 2rem;
      box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025); }
    .footer__form--name, .footer__form--email, .footer__form--subject {
      height: 5.8rem; }
    .footer__form--name, .footer__form--email, .footer__form--message {
      width: 100%; }
    .footer__form--subject, .footer__form--message {
      display: block;
      margin-top: 2.5rem; }
    .footer__form--email {
      margin-left: 2.5rem; }
    .footer__form--message {
      height: 26.0rem;
      resize: none; }
    .footer__form--submit, .footer__form--clear {
      padding: 2rem 4.5rem;
      border-radius: 0.8rem;
      border: none;
      color: white;
      font-weight: 70rem;
      text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
      transition: background-color .2s ease-in-out; }
    .footer__form--submit {
      background-color: #1f74ac; }
    .footer__form--clear {
      background-color: #3C3C3C;
      margin-left: 1rem; }
    .footer__form--submit, .footer__form--clear {
      font-size: 2rem;
      font-weight: 600; }

.form__name-email-container {
  display: flex;
  justify-content: center; }

.form__buttons-container {
  margin-top: 2.5rem; }

/* Header */
.header {
  height: 64rem;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0.4rem 0.4rem -0.2rem rgba(0, 0, 0, 0.2); }
  .header__img {
    border-radius: 100%;
    height: 30rem;
    align-self: center;
    margin-left: 17rem; }

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  margin-left: 5rem; }
  .text-box__title {
    color: black;
    font-size: 5.6rem;
    font-weight: 300;
    margin-bottom: 4rem; }
  .text-box__subtitle {
    font-size: 2.6rem;
    line-height: 4rem;
    margin-bottom: 6rem; }

.portfolio {
  padding: 14rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio__title, .portfolio__excerpt {
    margin-bottom: 2.2rem; }

.portfolio__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 38rem);
  grid-template-rows: repeat(2, 41rem);
  grid-gap: 3rem; }

.portfolio-card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.15); }
  .portfolio-card__img {
    width: 100%;
    height: 21rem; }

.card-text {
  padding: 3rem;
  text-align: center; }
  .card-text__excerpt {
    margin-top: 2rem; }

/* Work Section */
.work {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14rem 0;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.15); }
  .work__title, .work__subtitle {
    margin-bottom: 2.2rem; }
  .work__btn-box {
    margin-top: 10rem; }
  .work__btn {
    width: 2.5rem; }

/* Grid Container */
.work-grid {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 32rem);
  grid-template-rows: repeat(1, 34rem);
  grid-gap: 3rem; }

/* Cards */
.work-card {
  background: white;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3.2rem 6rem 3.2rem;
  border-radius: 0.4rem; }
  .work-card__title {
    margin-bottom: 2rem; }
  .work-card__excerpt {
    text-align: center; }

/* Card Icons */
.fa-window-alt,
.fa-paint-brush-alt,
.fa-crown {
  font-weight: 400;
  font-size: 10.3rem;
  color: #1f74ac;
  margin-bottom: 3rem; }

/* Top Navigation */
.top-nav {
  height: 6em;
  background-color: #282828;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .top-nav__menu {
    font-size: 1.6rem; }

.menu__item {
  display: inline; }

.item__link:visited, .item__link:link {
  font-size: 1.6rem;
  margin: 0 2rem 0 2rem;
  font-weight: 600;
  color: white; }

.item__link:hover {
  color: #1f74ac; }
